<link rel="stylesheet" href="check.css" />
<link
  href="https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap"
  rel="stylesheet"
/>
<html>
  <body>
    <div class="container">
      <h1><strong>Student registration information</strong></h1>
      <div class="details">
        <p>
          <strong
            >First Name : <%=fname%> <br />
            VTU number : <%=vtunumber%> <br />
            Address : <%=address%><br />
            Admission Year : <%=admissionyear%><br />
            CGPA : <%=cgpa%><br />
            SSLC reg.no : <%=sslc%><br />
            PUC reg.no : <%=puc%><br />
            Phone Number : <%=phonenumber%> <br
          /></strong>
        </p>
      </div>
    </div>
  </body>
</html>
